.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.nocheckbox {
  display: none;
  font-weight: bold;
  font-size: large;
}
.nocheckboxlabel1 {
  font-weight: 700;
  font-size: 22px;
  margin-left: -25px;
}
.nocheckboxlabel2 {
  font-weight: 600;
  font-size: 17px;
}
.nocheckboxlabel3 {
  font-weight: 500;
  font-size: 15px;
}
.nocheckboxlabel4 {
  font-weight: 400;
  font-size: 14px;
}
.checkbox {
  display: contents;
  cursor: pointer;
}
